/*--------------------------------*\
  Sanitize.css 
  cdnjs.com/libraries/sanitize.css/
\*--------------------------------*/
pre,textarea{overflow:auto}
[hidden],audio:not([controls]),template{display:none}
details,main,summary{display:block}
input[type=number]{width:auto}
input[type=search]{-webkit-appearance:textfield}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
progress{display:inline-block}
small{font-size:75%}
textarea{resize:vertical}
[unselectable]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*,::after,::before{box-sizing:inherit;border-style:solid;border-width:0}
*{font-size:inherit;font-weight:400;line-height:inherit;margin:0;padding:0}
::after,::before{text-decoration:inherit;vertical-align:inherit}
:root{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;cursor:default;font:16px/1.5 sans-serif;text-rendering:optimizeLegibility}
a{text-decoration:none}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit;min-height:1.5em}
code,kbd,pre,samp{font-family:monospace,monospace}
nav ol,nav ul{list-style:none}
select{-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
select::-ms-value{color:currentColor}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{background-color:#B3D4FC;text-shadow:none}
::selection{background-color:#B3D4FC;text-shadow:none}
@media screen{[hidden~=screen]{display:inherit}
[hidden~=screen]:not(:active):not(:focus):not(:target){clip:rect(0 0 0 0)!important;position:absolute!important}
}



body {
    font-family: 'inconsolata', monospace;
    font-size: 16px;
}

#page {
    padding: 1em 2em;;
    margin: 0 auto;
    max-width: 45em;
    background-color: #fff;
    min-height: 100vh;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Almendra SC', georgia, serif;
    font-size: 2.8em;
    margin-top: 1rem;
}
h2 {
    font-family: 'Almendra SC', georgia, serif;
    font-size: 2.2em;
    margin-top: 2.2rem;
    border-bottom: 1px solid #000;
}
h3 {
    font-family: 'Almendra SC', georgia, serif;
    font-size: 1.9em;
    margin-top: 1rem;
}
h4 {
    margin-top: 1rem;
    font-size: .8em;
}

p {
    margin-top: 1rem;
    font-size: .8em;
}

a {
    border-bottom: .2em solid #a2e6ff;
    transition: background-color .5s;
    color: inherit;
    padding: 0 .1em;
    margin: 0 -0.1em;
}
a:hover {background-color: #a2e6ff}

.projects code {
    padding: 0.1em 1em;
    font-size: 1rem;
    margin: 1em;
    background-color: #d2fc47;
    border-radius: 1em;
}



.projects {
    list-style: none;
    margin-bottom: 4em;
}
.projects li {margin: 2em 0;}
.projects img {
    width: 10rem;
    padding-right: 0.5em;
    float: left;
    border-right: 1px solid #d3d3d3;
}
.projects div {
    margin-left: 11em;
}

.art {
    list-style: none;
    font-size: 0;
    margin-top: 1rem;
}
.images {
    font-size: 1rem;
    display: inline-block;
    width: 25%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.images:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.images p {
    text-align: center;
    line-height: 2em;
    font-size: 1.3em;
    padding-top: calc(50% - 1em);
    position: absolute;
    top: -1rem;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    transition: background-color .4s, color .7s;
}

.images p:hover {
    background-color: rgba(0, 0, 0, 0.72);
    color: #ffffff;
    cursor: pointer;
}

#viewer {
    display: none;
    position: fixed;
    top: 0;
    right: left;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    z-index: 100;
}

#viewer img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#viewer div {
    position: fixed;
    right: 0;
    top: -.8rem;
    margin: 0;
    font-size: 2em;
    padding: 1em;
    color: #fff;
    transition: color .4s;
    z-index: 200;
}
#viewer div:hover {
    color: #de0f0f;
    cursor: pointer;
}

footer {
    text-align: center;
    margin: 2em auto;
}
footer p {margin: 0;}





@media (max-width: 520px) {
    .projects img {
        float: none;
        border: none;
        margin: 1em auto -0.5em auto;
        display: block;
    }
    .projects div {
        margin: 0;
    }
    
    .images {
        width: 50%;
    }
}
@media (max-width: 360px) {
    #page {padding: 1em;}
}